

.chinh-sach-tinh {
    width: 100%;
    display: block;
    float: center;
}

ul {
    padding-left: 0px;
    text-align: center;
}
li {
    padding: 10px; 
    background-image: linear-gradient(30deg, #fd321f, orange);
    display: inline-block;
    border: 1px solid #fd321f;
    
    border-radius: 8px;
    margin: 10px;
}
